In [1]:
# Data

company_detail_list = [
      {
          'name': 'Company 1',
          'domain': 'Retail',
          'country': 'United States'
      },
      {
          'name': 'Company 2',
          'domain': 'Technology',
          'country': 'United Kingdom'
      },
      {
          'name': 'Company 3',
          'domain': 'Healthcare',
          'country': 'United States'
      }
  ]

employee_detail_list = [
     {
          'name': 'EMP-0001',
          'first_name': 'John',
          'last_name': 'Doe',
          'full_name': 'John Doe',
          'company': 'Company 1',
          'nationality': 'Australia'
      },
      {
          'name': 'EMP-0002',
          'first_name': 'Tom',
          'last_name': 'Smith',
          'full_name': 'Tom Smith',
          'company': 'Company 2',
          'nationality': 'United States'
      },
      {
          'name': 'EMP-0003',
          'first_name': 'Andrew',
          'last_name': 'Sebastian',
          'full_name': 'Andrew Sebastian',
          'company': 'Company 3',
          'nationality': 'United States'
      },
      {
          'name': 'EMP-0005',
          'first_name': 'Ying Han',
          'last_name': 'Tan',
          'full_name': 'Ying Han Tan',
          'company': 'Company 1',
          'nationality': 'Australia'
      },
      {
          'name': 'EMP-0015',
          'first_name': 'Kenneth',
          'last_name': 'Ng',
          'full_name': 'Kenneth Ng',
          'company': 'Company 3',
          'nationality': 'United States'
      },
      {
          'name': 'EMP-0018',
          'first_name': 'Rubby',
          'last_name': 'Lee',
          'full_name': 'Rubby Lee',
          'company': 'Company 2',
          'nationality': 'Hong Kong'
      },
     {
          'name': 'EMP-0017',
          'first_name': 'Robert',
          'last_name': 'White',
          'full_name': 'Robert White',
          'company': 'Company 1',
          'nationality': 'United Kingdom'
      }
  ]

In [2]:
[{
    "name": "Company 3"
}, {
    "name": "Company 2"
}, {
    "name": "Company 1"
}]

[{'name': 'Company 3'}, {'name': 'Company 2'}, {'name': 'Company 1'}]

In [3]:
# mapping data {name: company}
data_name = {data["name"]: data["company"] for data in employee_detail_list}
data_name

{'EMP-0001': 'Company 1',
 'EMP-0002': 'Company 2',
 'EMP-0003': 'Company 3',
 'EMP-0005': 'Company 1',
 'EMP-0015': 'Company 3',
 'EMP-0018': 'Company 2',
 'EMP-0017': 'Company 1'}

In [8]:
# mapping data {name: domain}
for company in company_detail_list:
    print(f"{company['name']}: {company['domain']} ({company['country']})")

Company 1: Retail (United States)
Company 2: Technology (United Kingdom)
Company 3: Healthcare (United States)

In [9]:
# Mapping perusahaan : domain
company_domain_map = {company['name']: company['domain'] for company in company_detail_list}

# mapping : karyawan
domain_employee_map = {}
for employee in employee_detail_list:
    company_name = employee['company']
    domain = company_domain_map[company_name]
    # buat daftar baru, if domain no available
    if domain not in domain_employee_map:
        domain_employee_map[domain] = []
    # Name karyawan ke dalam daftar domain
    domain_employee_map[domain].append(employee['full_name'])
print(domain_employee_map)

{'Retail': ['John Doe', 'Ying Han Tan', 'Robert White'], 'Technology': ['Tom Smith', 'Rubby Lee'], 'Healthcare': ['Andrew Sebastian', 'Kenneth Ng']}

In [14]:
# Mappping perusahaan : as country
company_country_map = {company['name']: company['country'] for company in company_detail_list}

def get_employee_with_company_country():
    result = []
    for employee in employee_detail_list:
        company_name = employee['company']
        country = company_country_map[company_name]
        result.append({
            "full_name": employee['full_name'],
            "company": company_name,
            "country": country
        })
    return result

employee_data = get_employee_with_company_country()
print(employee_data)

[{'full_name': 'John Doe', 'company': 'Company 1', 'country': 'United States'}, {'full_name': 'Tom Smith', 'company': 'Company 2', 'country': 'United Kingdom'}, {'full_name': 'Andrew Sebastian', 'company': 'Company 3', 'country': 'United States'}, {'full_name': 'Ying Han Tan', 'company': 'Company 1', 'country': 'United States'}, {'full_name': 'Kenneth Ng', 'company': 'Company 3', 'country': 'United States'}, {'full_name': 'Rubby Lee', 'company': 'Company 2', 'country': 'United Kingdom'}, {'full_name': 'Robert White', 'company': 'Company 1', 'country': 'United States'}]

In [16]:
from collections import defaultdict
# Menghitung jumlah karyawan based nationality as country
def get_employee_nationality_by_company(company_details, employee_details):
    # create dictionary
    company_nationality_data = defaultdict(lambda: defaultdict(int))

    # Loop untuk menghitung jumlah nationality
    for employee in employee_details:
        company = employee['company']
        nationality = employee['nationality']
        company_nationality_data[company][nationality] += 1

    # Mengonversi format
    result = []
    for company in company_details:
        company_name = company['name']
        if company_name in company_nationality_data:
            result.append({
                'company': company_name,
                'employee_nationality': dict(company_nationality_data[company_name])
            })
    
    return result

output = get_employee_nationality_by_company(company_detail_list, employee_detail_list)
print(output)

[{'company': 'Company 1', 'employee_nationality': {'Australia': 2, 'United Kingdom': 1}}, {'company': 'Company 2', 'employee_nationality': {'United States': 1, 'Hong Kong': 1}}, {'company': 'Company 3', 'employee_nationality': {'United States': 2}}]